@import "weather.css";

.App {
  text-align: center;
}

h1 {
  font-size: 7rem;
  margin: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.center-page {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date-string {
  margin-bottom:-3rem;
  padding-bottom: -0.25rem;
}

.focus-input {
  font-size: 2rem;
  padding: 1rem;
  border: 0px;
  text-align: center;
  border-bottom: 2px solid black;
}

.focus-input:focus {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}