.focus-input {
    font-size: 2rem;
    padding: 1rem;
    border: 0px;
    text-align: center;
    border-bottom: 2px solid var(--text-color);
}

.focus-input:focus {
    outline: none;
}

.checkList {
    padding-left: 8rem;
    text-align: left;
    font-size: 1.5rem;
}

.checkList-items {
    font-size: 5rem;
}

.task-btn-container {
    padding: 2rem;
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    gap: 20px;
}